{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/armamento.png' %}">
{% endblock %}
 {% block title %} {% trans "Armamento" %} {% endblock %} 
 {% block content %} 
 <br/><br/>
 {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="card">
  <div class="card-header">
    <h1 style="text-align: center">{% trans "ARMAMENTO" %}</h1>
    <div class="d-flex justify-content-between">
      <a
        class="btn btn-success d-inline-block"
        href="{% url 'crear_armamento' %}"
        role="button"
        >{% trans "Agregar nuevo armamento" %}</a
      >
      <div>
        <form method="GET" action="">
          {{ form.campos_filtrados.label_tag }}
          {{ form.campos_filtrados }}
          {{ form.query }}
          <button type="submit" class="btn btn-outline-secondary">
            <i class="fa fa-search"></i>
          </button>
          <a class="btn btn-danger" href="{% url 'armamento' %}" role="button">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </a>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table table-striped table-bordered">
      <thead class="text-center align-middle">
        <tr>
          <th scope="col">{% trans "ID ARMA" %}</th>
          <th scope="col">{% trans "INSTITUCIÓN" %}</th>
          <th scope="col">{% trans "DEPENDENCIA" %}</th>
          <th scope="col">{% trans "ENTIDAD" %}</th>
          <th scope="col">{% trans "MUNICIPIO" %}</th>
          <th scope="col">{% trans "NUMERO LOC" %}</th>
          <th scope="col">{% trans "FOLIO C" %}</th>
          <th scope="col">{% trans "FOLIO D" %}</th>
          <th scope="col">{% trans "CLASE" %}</th>
          <th scope="col">{% trans "CALIBRE" %}</th>
          <th scope="col">{% trans "MARCA" %}</th>
          <th scope="col">{% trans "MODELO" %}</th>
          <th scope="col">{% trans "MATRICULA" %}</th>
          <th scope="col">{% trans "MATRICULA CANON" %}</th>
          <th scope="col">{% trans "FECHA DE REGISTRO" %}</th>
          <th scope="col">{% trans "FECHA DEL LOC" %}</th>
          <th scope="col">{% trans "ESTADO ARMA" %}</th>
          <th scope="col">{% trans "FECHA DE CAPTURA" %}</th>
          <th scope="col">{% trans "OBSERVACIONES" %}</th>
          <th scope="col">{% trans "ESTATUS DEL ARMA" %}</th>
          <th scope="col">{% trans "CUIP PORTADOR" %}</th>
          <th scope="col">{% trans "CUIP RESPONSABLE" %}</th>
          <th scope="col">CIHB</th>
          <th scope="col">{% trans "FECHA DE BAJA LOGICA" %}</th>
          <th scope="col">{% trans "MOTIVO BAJA" %}</th>
          <th scope="col">{% trans "DOCUMENTO BAJA" %}</th>
          <th scope="col">{% trans "OBSERVACIONES BAJA" %}</th>
          <th scope="col">{% trans "FECHA DE BAJA DEL DOCUMENTO" %}</th>
          <th scope="col" colspan="2">{% trans "ACCIONES" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for arma in lista %}
        <tr class="align-middle text-center">
          <td>{{arma.ID_ARMA}}</td>
          <td>{{arma.INSTITUCION}}</td>
          <td>{{arma.DEPENDENCIA}}</td>
          <td>{{arma.ENTIDAD}}</td>
          <td>{{arma.MUNICIPIO.MUNICIPIO}}</td>
          <td>{{arma.NUMERO_LOC.NO_LICENCIA}}</td>
          <td>{{arma.FOLIO_C}}</td>
          <td>{{arma.FOLIO_D}}</td>
          <td>{{arma.CLASE_TIPO_ARMA.TIPO}}</td>
          <td>{{arma.CALIBRE_ARMA.CALIBRE}}</td>
          <td>{{arma.MARCA_ARMA.MARCA}}</td>
          <td>{{arma.MODELO_ARMA.MODELO}}</td>
          <td>{{arma.MATRICULA}}</td>
          <td>{{arma.MATRICULA_CANON}}</td>
          <td>{{arma.FECHA}}</td>
          <td>{{arma.FECHA_LOC}}</td>
          <td>{{arma.ESTADO_ARMA}}</td>
          <td>{{arma.FECHA_CAPTURA}}</td>
          <td>{{arma.OBSERVACIONES}}</td>
          <td>{{arma.ESTATUS_ARMA.DESCRIPCION}}</td>
          <td>{{arma.CUIP_PORTADOR.CUIP}}</td>
          <td>{{arma.CUIP_RESPONSABLE.CUIP}}</td>
          <td>
            {% if arma.CIHB|default:'' %}
            {{arma.CIHB}}
            {% else %}
            <p>No</p>
            {% endif %}
          </td>
          <td>
            {% if arma.FECHA_BAJA_LOGICA|default:'' %}
            {{arma.FECHA_BAJA_LOGICA}}
            {% else %}
            <p>No</p>
            {% endif %}
          </td>
          <td>
            {% if arma.MOTIVO_BAJA|default:'' %}
            {{arma.MOTIVO_BAJA}}
            {% else %}
            <p>No</p>
            {% endif %}
          </td>
          <td>
            {% if arma.DOCUMENTO_BAJA|default:'' %}
            {{arma.OBSERVACIONES_BAJA}}
            {% else %}
            <p>No</p>
            {% endif %}
          </td>
          <td>
            {% if arma.OBSERVACIONES_BAJA|default:'' %}
            {{arma.OBSERVACIONES_BAJA}}
            {% else %}
            <p>No</p>
            {% endif %}
          </td>
          <td>
            {% if arma.FECHA_BAJA_DOCUMENTO|default:'' %}
            {{arma.FECHA_BAJA_DOCUMENTO}}
            {% else %}
            <p>No</p>
            {% endif %}
          </td>
          <td>
            <button id="boton-editar" data-url="{% url 'editar_armamento' arma.ID_ARMA %}" class="btn btn-warning">{% trans "Editar" %}</button>

              <button id="boton-borrar" data-url="{% url 'eliminar_armamento' arma.ID_ARMA %}" class="btn btn-danger">{% trans "Eliminar" %}</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
  <div class="pagination">
    {% include 'paginador.html' %}
  </div>
<script src="{% static 'js/confirmar_eliminacion.js' %}"></script>
{% endblock %}
