{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/arma.png' %}">
{% endblock %}
 {% block title %} Crear Armamento {% endblock %} 

{% block content %}
<br><br>
<div class="card">
    <div class="card-header">
        {% trans "Crear Armamento" %}
    </div>
    <div class="card-body">
        <h4 class="card-title">{% trans "Datos del Armamento" %}</h4>
        {% include 'formArmamento.html'%}
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
{% endblock %}