{% load i18n %}
{% load static %}
<form enctype="multipart/form-data" method="post" id="myForm" onsubmit="enableFieldAndSubmit(event)">
    {% csrf_token %}

    <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <label for="id_ID_ARMA" class="form-label fw-bold text-muted fst-italic">{% trans "Id del Arma" %}:</label>
            <input type="{{ form.ID_ARMA.field.widget.input_type }}"
                   class="form-control input-placeholder" 
                   name="{{ form.ID_ARMA.name }}" 
                   id="id_ID_ARMA" 
                   placeholder="{% trans 'Id del Arma' %}"
                   value="{{ form.ID_ARMA.value | default:'' }}">
          
            {% if form.ID_ARMA.errors %}
            <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
              {% for error in form.ID_ARMA.errors %}
                <span>{{ error }}</span>
              {% endfor %}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <br>
          </div>
          
            <div class="col-12 col-lg-6">
                <label for="id_DEPENDENCIA" class="form-label fw-bold text-muted fst-italic">{% trans "Dependencia" %}:</label>
                <br>{{form.DEPENDENCIA}}<br>
            </div>

            <div class="col-12 col-lg-6">
                <label for="id_INSTITUCION" class="form-label fw-bold text-muted fst-italic">{% trans "Institucion" %}:</label>
                <br>{{form.INSTITUCION}}<br>
            </div>

            <div class="col-12 col-lg-6">
                <label for="id_ENTIDAD" class="form-label fw-bold text-muted fst-italic">{% trans "Entidad" %}:</label>
                <br>{{form.ENTIDAD}}<br>
            </div>
  
            <div class="col-12 col-lg-6">
                <label for="id_MUNICIPIO" class="form-label fw-bold text-muted fst-italic">{% trans "Municipio" %}:</label>
                <br>{{form.MUNICIPIO}}<br>
            </div>

            <div class="col-12 col-lg-6">
                <label for="id_NUMERO_LOC" class="form-label fw-bold text-muted fst-italic">{% trans "Numero Loc:" %}</label>
                <br>{{form.NUMERO_LOC}}<br>
            </div>

            <div class="col-12 col-lg-6">
                <label for="id_FOLIO_C" class="form-label fw-bold text-muted fst-italic">{% trans "Folio C" %}:</label>
                <input type="{{ form.FOLIO_C.field.widget.input_type }}"
                    class="form-control input-placeholder input-placeholder" 
                    name="{{ form.FOLIO_C.name }}" 
                    id="id_FOLIO_C" 
                    placeholder="{% trans 'Folio C' %}"
                    value="{{form.FOLIO_C.value | default:''}}"
                    required>
            {% if form.FOLIO_C.errors %}
            <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
              {% for error in form.FOLIO_C.errors %}
                <span>{{ error }}</span>
              {% endfor %}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <br>
            </div>

            <div class="col-12 col-lg-6">
                <label for="id_FOLIO_D" class="form-label fw-bold text-muted fst-italic">{% trans "Folio D" %}:</label>
                <input type="{{ form.FOLIO_D.field.widget.input_type }}"
                    class="form-control input-placeholder input-placeholder" 
                    name="{{ form.FOLIO_D.name }}" 
                    id="id_FOLIO_D" 
                    placeholder="{% trans 'Folio D' %}"
                    value="{{form.FOLIO_D.value | default:''}}"
                    required>
                    {% if form.FOLIO_D.errors %}
                    <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                      {% for error in form.FOLIO_D.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %} 
                    <br>     
            </div>

            <div class="col-12 col-lg-6">
              <label for="id_CLASE_TIPO_ARMA" class="form-label fw-bold text-muted fst-italic">{% trans "Clase del Arma" %}:</label>
                <br>{{form.CLASE_TIPO_ARMA}}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_CALIBRE_ARMA" class="form-label fw-bold text-muted fst-italic">{% trans "Calibre del Arma" %}:</label>
                <br>{{form.CALIBRE_ARMA}}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_MARCA_ARMA" class="form-label fw-bold text-muted fst-italic">{% trans "Marca del Arma" %}:</label>
                <br>{{form.MARCA_ARMA}}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_MODELO_ARMA" class="form-label fw-bold text-muted fst-italic">{% trans "Modelo del Arma" %}:</label>
                <br>{{form.MODELO_ARMA}}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_MATRICULA" class="form-label fw-bold text-muted fst-italic">{% trans "Matricula" %}:</label>
              <input type="{{ form.MATRICULA.field.widget.input_type }}"
                    class="form-control input-placeholder input-placeholder" 
                    name="{{ form.MATRICULA.name }}" 
                    id="id_MATRICULA" 
                    placeholder="{% trans 'Matricula' %}"
                    value="{{form.MATRICULA.value | default:''}}"
                    required>
                    {% if form.MATRICULA.errors %}
                    <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                      {% for error in form.MATRICULA.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <br>
          </div>
          
            <div class="col-12 col-lg-6">
              <label for="id_matricula_canon" class="form-label fw-bold text-muted fst-italic">{% trans "Matricula Canon" %}:</label>
              <input type="{{ form.MATRICULA_CANON.field.widget.input_type }}"
                class="form-control input-placeholder input-placeholder" 
                name="{{ form.MATRICULA_CANON.name }}" 
                id="id_matricula_canon" 
                placeholder="{% trans 'Matricula Canon' %}"
                value="{{form.MATRICULA_CANON.value | default:''}}">
                {% if form.MATRICULA_CANON.errors %}
                    <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                      {% for error in form.MATRICULA_CANON.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_FECHA" class="form-label fw-bold text-muted fst-italic">{% trans "Fecha" %}:</label>
                <br>{{form.FECHA}}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_FECHA_LOC" class="form-label fw-bold text-muted fst-italic">{% trans "Fecha Loc" %}:</label>
                <br>{{form.FECHA_LOC}}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_ESTADO_ARMA" class="form-label fw-bold text-muted fst-italic"> {% trans "Estado del Arma" %}:</label>
                <br>{{form.ESTADO_ARMA}}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_FECHA_CAPTURA" class="form-label fw-bold text-muted fst-italic">{% trans "Fecha de Captura" %}:</label>
                <br>{{form.FECHA_CAPTURA}}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_OBSERVACIONES" class="form-label fw-bold text-muted fst-italic">{% trans "Observaciones" %}:</label>
              <br>{{ form.OBSERVACIONES }}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_ESTATUS_ARMA" class="form-label fw-bold text-muted fst-italic">{% trans "Estatus del Arma" %}:</label>
              <br>{{ form.ESTATUS_ARMA }}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_CUIP_PORTADOR" class="form-label fw-bold text-muted fst-italic">{% trans "CUIP Portador" %}:</label>
              <input type="text"
                class="form-control input-placeholder" 
                name="{{ form.CUIP_PORTADOR.name }}" 
                id="id_CUIP_PORTADOR" 
                placeholder="{% trans 'CUIP Portador' %}"
                value="{{form.CUIP_PORTADOR.value | default:''}}"
                required>
                {% if form.CUIP_PORTADOR.errors %}
                    <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                      {% for error in form.CUIP_PORTADOR.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_CUIP_RESPONSABLE" class="form-label fw-bold text-muted fst-italic">{% trans "CUIP Responsable" %}:</label>
              <input type="text"
                class="form-control input-placeholder" 
                name="{{ form.CUIP_RESPONSABLE.name }}" 
                id="id_CUIP_RESPONSABLE" 
                placeholder="{% trans 'CUIP Responsable' %}"
                value="{{form.CUIP_RESPONSABLE.value | default:''}}"
                required>
                {% if form.CUIP_RESPONSABLE.errors %}
                    <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                      {% for error in form.CUIP_RESPONSABLE.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_CIHB" class="form-label fw-bold text-muted fst-italic">{{ form.CIHB.label }}:</label>
              <input type="{{ form.CIHB.field.widget.input_type }}"
                class="form-control input-placeholder" 
                name="{{ form.CIHB.name }}" 
                id="id_CIHB" 
                placeholder="{{ form.CIHB.label }}"
                value="{{form.CIHB.value | default:''}}">
                {% if form.CIHB.errors %}
                    <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                      {% for error in form.CIHB.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_TIPO_FUNCIONAMIENTO" class="form-label fw-bold text-muted fst-italic">{%trans "Tipo de Funcionamiento"%}:</label>
                <br>{{form.TIPO_FUNCIONAMIENTO}}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_PROPIEDAD" class="form-label fw-bold text-muted fst-italic">{%trans "Tipo de Propiedad" %}:</label>
                <br>{{form.PROPIEDAD}}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_FECHA_BAJA_LOGICA" class="form-label fw-bold text-muted fst-italic">{% trans "Fecha de Baja Logica" %}:</label>
              <br>{{ form.FECHA_BAJA_LOGICA }}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_MOTIVO_BAJA" class="form-label fw-bold text-muted fst-italic">{% trans "Motivo de baja" %}:</label>
              <br>{{ form.MOTIVO_BAJA }}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_DOCUMENTO_BAJA" class="form-label fw-bold text-muted fst-italic">{% trans "Documento de Baja" %}:</label>
              <input type="{{ form.DOCUMENTO_BAJA.field.widget.input_type }}"
                class="form-control input-placeholder" 
                name="{{ form.DOCUMENTO_BAJA.name }}" 
                id="id_DOCUMENTO_BAJA" 
                placeholder="{% trans 'Documento de Baja' %}"
                value="{{form.DOCUMENTO_BAJA.value | default:''}}">
                {% if form.DOCUMENTO_BAJA.errors %}
                    <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                      {% for error in form.DOCUMENTO_BAJA.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_OBSERVACIONES_BAJA" class="form-label fw-bold text-muted fst-italic">{% trans "Observaciones de Baja" %}:</label>
              <br>{{ form.OBSERVACIONES_BAJA }}<br>
            </div>
        
            <div class="col-12 col-lg-6">
              <label for="id_FECHA_BAJA_DOCUMENTO" class="form-label fw-bold text-muted fst-italic">{% trans "Fecha de baja del documento" %}:</label>
              <br>{{ form.FECHA_BAJA_DOCUMENTO }}<br>
            </div>
        </div>
    </div>   

    <input class="btn btn-success" type="submit" value="{% trans 'Guardar' %}"" id="guardar-btn">
    <a class="btn btn-primary" href="{%url 'armamento'%}" role="button">{% trans "Volver" %}</a>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/habilitar_municipios.js' %}"></script>
<script src="{% static 'js/habilitar_instituciones.js' %}"></script>
<script src="{% static 'js/municipios.js' %}"></script>
<script src="{% static 'js/instituciones.js' %}"></script>
<script src="{% static 'js/boton_guardar.js'%}"></script>
<script src="{% static 'js/tecla_enter.js'%}"></script>

{% if is_editing %}
    <script src="{% static 'js/deshabilitar_matricula.js'%}"></script>
{% endif %}
