{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/home.png' %}">
{% endblock %}
 {% block title %} {% trans "Inicio" %} {% endblock %} 
{% block content %}

<br>
<!-- Jumbotron -->
<div class="p-5 text-center bg-image rounded-3" 
style="background-image: url('/media/images/recursos/ssp_fondo.jpg');
background-size: cover;
background-position: center 30%;
height: 400px;
max-width: 800px;
max-width: 800px;
margin: 0 auto;
">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">{% trans "Bienvenido " %}{{usuario }}</h1>
        <a class="btn btn-outline-light btn-lg" href="{% url 'catalogos' %}" role="button">{% trans "Empezar" %}</a>
      </div>
    </div>
  </div>
  
</div>
<!-- Jumbotron -->
{% endblock %}