{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/catalogo.png' %}">
{% endblock %}
 {% block title %} {% trans "Calibres" %} {% endblock %}
  {% block content %}
 <br/><br/>
<div class="card">
  <div class="card-header">
    <h1 style="text-align: center">{% trans "CALIBRES" %}</h1>
    <div class="d-flex justify-content-between">
      <a class="btn btn-success" href="{% url 'catalogos' %}" role="button">{% trans "Volver a Catalogos" %}</a>
      <div>
        <form method="GET" action="">
          {{ form.campos_filtrados.label_tag }}
          {{ form.campos_filtrados }}
          {{ form.query }}
          <button type="submit" class="btn btn-outline-secondary">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-left">{% trans "CALIBRE" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for calibre in lista %}
        <tr>
          <td class="align-middle text-center">{{calibre.ID_CALIBRE}}</td>
          <td class="align-middle text-left">{{calibre.CALIBRE}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
<div class="pagination">
    {% include 'paginador.html' %}
</div>
{% endblock %}