{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/catalogo.png' %}">
{% endblock %}
 {% block title %} {% trans "Entidades"%} {% endblock %} 

{% block content %}
<br/><br/>
<div class="card">
  <div class="card-header">
    <h1 style="text-align: center">{% trans "ENTIDADES" %}</h1>
    <a class="btn btn-success" href="{% url 'catalogos' %}" role="button">{% trans "Volver a Catalogos" %}</a>
  </div>
  <div class="card-body table-responsive">
    <table class="table table table-striped table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">{% trans "ENTIDAD" %}</th>
                <th scope="col">{% trans "SIGLAS" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for entidad in entidades %}
            <tr class="text-center">
                <td>{{ entidad.ID_ENTIDAD }}</td>
                <td>{{ entidad.ENTIDAD }}</td>
                <td>{{ entidad.SIGLAS }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer text-muted">
</div>
</div>

{% endblock %}