{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/catalogo.png' %}">
{% endblock %}
 {% block title %} {% trans "Marcas" %} {% endblock %} 

{% block content %}
<br/><br/>
<div class="card">
  <div class="card-header">
    <h1 style="text-align: center">{% trans "MARCAS" %}</h1>
    <div class="d-flex justify-content-between flex-wrap">
        <a class="btn btn-success d-flex align-items-center justify-content-center" href="{% url 'catalogos' %}" role="button">{% trans "Volver a Catalogos" %}</a>
        <div class="mb-2 mb-md-0">
          <form method="GET" action="">
            <div class="col-auto d-flex align-items-center">
              <div class="p-1">
                  {{ form.campos_filtrados.label_tag }}
              </div>
              <div class="p-1">
                  {{ form.campos_filtrados }}
              </div>
              <div class="p-1">
                  {{ form.query }}
              </div>
              <div class="p-1">
                  <button type="submit" class="btn btn-outline-secondary">
                      <i class="fa fa-search"></i>
                  </button>
              </div>
              <div class="p-1">
                  <a class="btn btn-danger" href="{% url 'marcas' %}" role="button">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                  </a>
              </div>
          </div>
          </form>
        </div>
      </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col">{% trans "MARCA" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for marca in lista %}
            <tr class="">
                <td class="text-center">{{ marca.ID_MARCA }}</td>
                <td>{{ marca.MARCA }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
<div class="card-footer text-muted">
</div>
</div>
<div class="container mt-4">
  {% if mensaje %}
      <div class="alert alert-info" role="alert">
          {{ mensaje }}
      </div>
  {% endif %}
</div>
<div class="pagination">
    {% include 'paginador.html' %}
</div>

{% endblock %}