{% extends "layout.html" %}
{% load i18n %}
 {% block title %} Municipios {% endblock %} 

{% block content %}
<br/><br/>
<div class="card">
  <div class="card-header">
    <h1 style="text-align: center">{% trans "MUNICIPIOS" %}</h1>
    <div class="d-flex justify-content-between">
        <a class="btn btn-success" href="{% url 'catalogos' %}" role="button">{% trans "Volver a Catalogos" %}</a>
        <div>
          <form method="GET" action="">
            {{ form.query }}
            <button type="submit" class="btn btn-outline-secondary">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table table-striped table-bordered">
        <thead class="text-center">
            <tr>
                <th scope="col">{% trans "ENTIDAD" %}</th>
                <th scope="col">{% trans "ID MUNICIPIO" %}</th>
                <th scope="col">{% trans "MUNICIPIO" %}</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for municipio in municipios %}
            <tr class="">
                <td>{{ municipio.ID_ENTIDAD }}</td>
                <td>{{ municipio.ID_MUNICIPIO }}</td>
                <td>{{ municipio.MUNICIPIO }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer text-muted">
</div>
</div>
<div class="pagination">
    <span class="step-links">
    {% if municipios.has_previous %}
        <a class="btn btn-primary" href="?page=1" role="button">&laquo; {% trans "Primera" %}</a>
        <a class="btn btn-primary" href="?page={{ municipios.previous_page_number }}" role="button">{% trans "Anterior" %}</a>
    {% endif %}

    <a class="btn btn-danger" role="button">{{ municipios.number }}</a>

    {% if municipios.has_next %}
        <a class="btn btn-primary" href="?page={{ municipios.next_page_number }}" role="button">{% trans "Siguiente" %}</a>

        <a class="btn btn-primary" href="?page={{ municipios.paginator.num_pages }}" role="button">{% trans "última" %} &raquo;</a>
    {% endif %}
    </span>
</div>

{% endblock %}