{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/catalogo.png' %}">
{% endblock %}
 {% block title %} {% trans "Municipios" %} {% endblock %} 

{% block content %}
<br/><br/>
<div class="card">
  <div class="card-header">
    <h1 style="text-align: center">{% trans "MUNICIPIOS" %}</h1>
    <div class="d-flex justify-content-between flex-wrap">
        <a class="btn btn-success mb-2 mb-md-0" href="{% url 'catalogos' %}" role="button">{% trans "Volver a Catalogos" %}</a>
        <div>
          <form method="GET" action="">
            {{ form.campos_filtrados.label_tag }}
            {{ form.campos_filtrados }}
            {{ form.query }}
            <button type="submit" class="btn btn-outline-secondary">
              <i class="fa fa-search"></i>
            </button>
            <a class="btn btn-danger" href="{% url 'municipios' %}" role="button">
              <i class="fa fa-refresh" aria-hidden="true"></i>
            </a>
          </form>
        </div>
      </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table table-striped table-bordered">
        <thead class="text-center">
            <tr>
                <th scope="col">{% trans "ENTIDAD" %}</th>
                <th scope="col">{% trans "ID MUNICIPIO" %}</th>
                <th scope="col">{% trans "MUNICIPIO" %}</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for municipio in lista %}
            <tr class="">
                <td>{{ municipio.ID_ENTIDAD }}</td>
                <td>{{ municipio.ID_MUNICIPIO }}</td>
                <td>{{ municipio.MUNICIPIO }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer text-muted">
</div>
</div>
<div class="container mt-4">
  {% if mensaje %}
      <!-- Muestra el mensaje de Bootstrap si está presente -->
      <div class="alert alert-info" role="alert">
          {{ mensaje }}
      </div>
  {% endif %}
</div>
<div class="pagination">
  {% include 'paginador.html' %}
</div>
{% endblock %}