{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/catalogo.png' %}">
{% endblock %}
 {% block title %} {% trans "Propiedades" %} {% endblock %} 

{% block content %}
<br/><br/>
<div class="card">
  <div class="card-header">
    <h1 style="text-align: center">{% trans "PROPIEDADES" %}</h1>
    <a class="btn btn-success" href="{% url 'catalogos' %}" role="button">{% trans "Volver a Catalogos" %}</a>
  </div>
  <div class="card-body table-responsive">
    <table class="table table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">{% trans "ID" %}</th>
                <th scope="col">{% trans "PROPIEDAD" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for propiedad in propiedades %}
            <tr>
                <td>{{ propiedad.ID }}</td>
                <td>{{ propiedad.Propiedad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer text-muted">
</div>
</div>

{% endblock %}