{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/catalogo.png' %}">
{% endblock %}
 {% block title %} {% trans "Tipos de armas" %} {% endblock %} 

{% block content %}
<br/><br/>
<div class="card">
  <div class="card-header">
    <h1 style="text-align: center">{% trans "TIPOS DE ARMAS" %}</h1>
    <div class="d-flex justify-content-between">
        <a class="btn btn-success" href="{% url 'catalogos' %}" role="button">{% trans "Volver a Catalogos" %}</a>
        <div>
          <form method="GET" action="">
            {{ form.campos_filtrados.label_tag }}
            {{ form.campos_filtrados }}
            {{ form.query }}
            <button type="submit" class="btn btn-outline-secondary">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table table-striped table-bordered">
        <thead>
            <tr class="text-center"> 
                <th scope="col">ID</th>
                <th scope="col">{% trans "TIPO" %}</th>
                <th scope="col">{% trans "CLASIFICACION" %}</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for tipo in tipos %}
            <tr class="">
                <td>{{ tipo.ID_TIPO }}</td>
                <td>{{ tipo.TIPO }}</td>
                <td>{{ tipo.ID_CLASIFICACION }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer text-muted">
</div>
</div>
<div class="pagination">
    <span class="step-links">
    {% if tipos.has_previous %}
        <a name="" id="" class="btn btn-primary" href="?page=1" role="button">&laquo; {% trans "Primera" %}</a>
        <a name="" id="" class="btn btn-primary" href="?page={{ tipos.previous_page_number }}" role="button">{% trans "Anterior" %}</a>
    {% endif %}

    <a name="" id="" class="btn btn-danger" role="button">{{ tipos.number }}</a>

    {% if tipos.has_next %}
        <a name="" id="" class="btn btn-primary" href="?page={{ tipos.next_page_number }}" role="button">{% trans "Siguiente" %}</a>

        <a name="" id="" class="btn btn-primary" href="?page={{ tipos.paginator.num_pages }}" role="button">{% trans "última" %} &raquo;</a>
    {% endif %}
    </span>
</div>

{% endblock %}