{% load i18n %}
{% load static %}
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="{{ form.ID_ARMA.id_for_label }}" class="form-label">{% trans "Id del Arma existente:" %}</label>
    <br>
    {{ form.ID_ARMA}}
  </div>

  <div class="mb-3">
    <label for="{{ form.DEPENDENCIA.id_for_label }}" class="form-label">{{form.DEPENDENCIA.label|title}}:</label>
    <br>
    {{ form.DEPENDENCIA }}
  </div>

  <div class="mb-3">
    <label for="{{ form.INSTITUCION.id_for_label }}" class="form-label">{{form.INSTITUCION.label|title}}:</label>
    <br>
    {{ form.INSTITUCION }}
  </div>

  <div class="mb-3">
    <label for="{{ form.ENTIDAD.id_for_label }}" class="form-label">{% trans "Entidad Federativa:" %}</label>
    <br>
    {{ form.ENTIDAD }}
  </div>


  <div class="mb-3">
    <label for="" class="form-label">{{form.IMAKEY.label|title}}:</label>
    <input type="{{ form.IMAKEY.field.widget.input_type }}" class="form-control" name="{{ form.IMAKEY.name }}" id=""
      placeholder="{{ form.IMAKEY.label|title }}" value="{{form.IMAKEY.value | default:''}}"
      required>
  </div>

  <div class="mb-3">
    <label for="" class="form-label">{{form.DESIMA.label|title}}:</label>
    <input type="{{ form.DESIMA.field.widget.input_type }}" class="form-control" name="{{ form.DESIMA.name }}" id=""
      placeholder="{{ form.DESIMA.label|title }}" value="{{form.DESIMA.value | default:''}}"
      required>
  </div>

  <div class="mb-3">
    <label for="{{ form.TIPO.id_for_label }}" class="form-label">{% trans "Tipo de Imagen:" %}</label>
    <br>
    {{form.TIPO}}
  </div>

  <div class="mb-3">
    <label for="" class="form-label">{{form.FOLIO.label|title}}:</label>
    <input type="{{ form.FOLIO.field.widget.input_type }}" class="form-control" name="{{ form.FOLIO.name }}" id=""
      placeholder="{{ form.FOLIO.label|title }}" value="{{form.FOLIO.value | default:''}}"
      required>
  </div>

  <div class="mb-3">
    <label for="" class="form-label">{{form.GRUPO.label|title}}:</label>
    <input type="{{ form.GRUPO.field.widget.input_type }}" class="form-control" name="{{ form.GRUPO.name }}" id=""
      placeholder="{{ form.GRUPO.label|title }}" value="{{form.GRUPO.value | default:''}}" maxlength="1"
      required>
  </div>
  
  <div class="mb-3 imagen">
    <label for="" class="form-label">{% trans "Imagen del Arma:" %}</label>
    {% if form.IMAGEN.value %}
    <br>
    <img src="{{MEDIA_URL}}/imagenes/{{form.IMAGEN.value}}" width="100"></img>
    <br><br>
    {% endif %}
    <input type="{{ form.IMAGEN.field.widget.input_type }}" class="form-control" name="{{ form.IMAGEN.name }}" id=""
      placeholder="{{ form.IMAGEN.label|title }}" value="{{form.IMAGEN.value | default:''}}">
  </div>


  <div class="col-12 help-text">
    {% if form.errors %}
      {{form.errors}}
    {%endif %}
  </div>

  <input name="" id="" class="btn btn-success" type="submit" value="Guardar">
  <a name="" id="" class="btn btn-primary" href="{%url 'imagenes'%}" role="button">{% trans "Volver" %}</a>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/instituciones.js'%}"></script>