{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/fotos_varias.png' %}">
{% endblock %}
 {% block title %} {% trans "Imagenes" %} {% endblock %} 

{% block content %}
<br><br>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="card">
    <div class="card-header">
        <h1 style="text-align:center;">{% trans "IMÁGENES" %}</h1>
        <div class="d-flex justify-content-between flex-wrap">
          <a class="btn btn-success d-flex align-items-center" href="{% url 'crear_imagen' %}" role="button">
              {% trans "Agregar nueva imagen" %}
          </a>
      
          <div class="mb-2 mb-md-0">
              <form method="GET" action="" onsubmit="return validarForm()">
                <div class="col-auto d-flex align-items-center">
                  <div class="p-1">
                      {{ form.campos_filtrados.label_tag }}
                  </div>
                  <div class="p-1">
                      {{ form.campos_filtrados }}
                  </div>
                  <div class="p-1">
                      {{ form.query }}
                  </div>
                  <div class="p-1">
                      <button type="submit" class="btn btn-outline-secondary">
                          <i class="fa fa-search"></i>
                      </button>
                  </div>
                  <div class="p-1">
                      <a class="btn btn-danger" href="{% url 'imagenes' %}" role="button">
                          <i class="fa fa-refresh" aria-hidden="true"></i>
                      </a>
                  </div>
              </div>
              </form>
          </div>
      </div>
      
    </div>
    <div class="card-body table-responsive">
        <table class="table table table-striped table-bordered">
            <thead>
              <tr class="text-center align-middle">
                <th scope="col">{% trans "ID ARMA" %}</th>
                <th scope="col">{% trans "IMAGEN" %}</th>
                <th scope="col">{% trans "DEPENDENCIA" %}</th>
                <th scope="col">{% trans "INSTITUCIÓN" %}</th>
                <th scope="col">{% trans "ENTIDAD" %}</th>
                <th scope="col">{% trans "IMAKEY" %}</th>
                <th scope="col">{% trans "DESIMA" %}</th>
                <th scope="col">{% trans "TIPO" %}</th>
                <th scope="col">{% trans "FOLIO" %}</th>
                <th scope="col">{% trans "GRUPO" %}</th>
                <th scope="col">{% trans "ACCIONES" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for imagen in lista %}
              <tr class="text-center align-middle">
                <td>{{ imagen.ID_ARMA }}</td>
                <td><img src="{{ imagen.IMAGEN.url }}" height="100" /></td>
                <td>{{ imagen.DEPENDENCIA }}</td>
                <td>{{ imagen.INSTITUCION }}</td>
                <td>{{ imagen.ENTIDAD }}</td>
                <td>{{ imagen.IMAKEY }}</td>
                <td>{{ imagen.DESIMA }}</td>
                <td>{{ imagen.TIPO }}</td>
                <td>{{ imagen.FOLIO }}</td>
                <td>{{ imagen.GRUPO }}</td>
                <td class="w-100 h-100">
                  <div class="d-flex justify-content-center align-items-center">
                    <a name="" id="" class="btn btn-warning  mx-1" href="{% url 'editar_imagen' imagen.ID_ALTERNA %}" role="button">{% trans "Editar" %}</a>
                    <button data-url="{% url 'eliminar_imagen' imagen.ID_ALTERNA %}" class="boton-borrar btn btn-danger  mx-1">{% trans "Eliminar" %}</button>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="container mt-4">
      {% if mensaje %}
          <!-- Muestra el mensaje de Bootstrap si está presente -->
          <div class="alert alert-info" role="alert">
              {{ mensaje }}
          </div>
      {% endif %}
    <div class="card-footer text-muted">
    </div>
</div>
</div>
<br>
<div class="pagination">
  {% include 'paginador.html' %}
</div>
<script src="{% static 'js/confirmar_eliminacion.js' %}"></script>
<script src="{% static 'js/validar_formulario.js' %}"></script>
{% endblock %}
