{% extends "layout.html" %}
{% load i18n %}
 {% block title %} {% trans "IMAGENES" %} {% endblock %} 

{% block content %}
<br><br>
<div class="card">
    <div class="card-header">
        <h1 style="text-align: center;">{% trans "IMAGENES" %}</h1>
        <div class="d-flex justify-content-between">
            <a class="btn btn-success" href="{% url 'crear_imagen' %}" role="button">{% trans "Agregar nueva imagen" %}</a>
            <div>
              <form method="GET" action="">
                {{ form.query }}
                <button type="submit" class="btn btn-outline-secondary">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
          </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table table-striped table-bordered">
            <thead>
              <tr class="text-center align-middle">
                <th scope="col">ID ARMA</th>
                <th scope="col">IMAGEN</th>
                <th scope="col">DEPENDENCIA</th>
                <th scope="col">INSTITUCION</th>
                <th scope="col">ENTIDAD</th>
                <th scope="col">IMAKEY</th>
                <th scope="col">DESIMA</th>
                <th scope="col">TIPO</th>
                <th scope="col">FOLIO</th>
                <th scope="col">GRUPO</th>
                <th scope="col" colspan="2">ACCIONES</th>
              </tr>
            </thead>
            <tbody>
              {% for imagen in imagenes %}
              <tr class="text-center align-middle">
                <td>{{ imagen.ID_ARMA.ID_ARMA }}</td>
                <td><img src="{{ imagen.IMAGEN.url }}" height="100" /></td>
                <td>{{ imagen.DEPENDENCIA }}</td>
                <td>{{ imagen.INSTITUCION }}</td>
                <td>{{ imagen.ENTIDAD }}</td>
                <td>{{ imagen.IMAKEY }}</td>
                <td>{{ imagen.DESIMA }}</td>
                <td>{{ imagen.TIPO }}</td>
                <td>{{ imagen.FOLIO }}</td>
                <td>{{ imagen.GRUPO }}</td>
                <td>
                  <a
                    class="btn btn-warning"
                    href="{% url 'editar_imagen' imagen.ID_ALTERNA %}"
                    role="button"
                    >Editar</a>
                </td>
                <td>
                  <a
                    class="btn btn-danger"
                    href="{% url 'eliminar_imagen' imagen.ID_ALTERNA %}"
                    role="button"
                    >Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
<div class="pagination">
    <span class="step-links">
    {% if imagenes.has_previous %}
        <a name="" id="" class="btn btn-primary" href="?page=1" role="button">&laquo; {% trans "Primera" %}</a>
        <a name="" id="" class="btn btn-primary" href="?page={{ imagenes.previous_page_number }}" role="button">{% trans "Anterior" %}</a>
    {% endif %}

    <a name="" id="" class="btn btn-danger" role="button">{{ imagenes.number }}</a>

    {% if imagenes.has_next %}
        <a name="" id="" class="btn btn-primary" href="?page={{ imagenes.next_page_number }}" role="button">{% trans "Siguiente" %}</a>

        <a name="" id="" class="btn btn-primary" href="?page={{ imagenes.paginator.num_pages }}" role="button">{% trans "última" %} &raquo;</a>
    {% endif %}
    </span>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
