{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/error.png' %}">
{% endblock %}
 {% block title %} {% trans "Portadores" %} {% endblock %} 
{% block content %}
<div class="conteiner" style="text-align: center;"> 
    <h1>ERROR 404</h1>
    <p>Ups... Algo salió mal, Esta pagina no existe</p>
    <a name="" id="" class="btn btn-primary" href="{% url 'home'%}" role="button">Volver</a>
</div> 
{% endblock %}
