{% load i18n %}
{% if lista.paginator.num_pages > 1 %}
    <span class="step-links">
    {% if lista.has_previous %}
        <a class="btn btn-primary" href="?page=1" role="button">&laquo; {% trans "Primera" %}</a>
        <a class="btn btn-primary" href="?page={{ lista.previous_page_number }}" role="button">{% trans "Anterior" %}</a>
    {% endif %}

    <a class="btn btn-danger" role="button"> {% trans "Página" %} {{ lista.number }} {% trans "de" %} {{lista.paginator.num_pages}}</a>

    {% if lista.has_next %}
        <a class="btn btn-primary" href="?page={{ lista.next_page_number }}" role="button">{% trans "Siguiente" %}</a>

        <a class="btn btn-primary" href="?page={{ lista.paginator.num_pages }}" role="button">{% trans "última" %} &raquo;</a>
    {% endif %}
    </span>
    {% else %}
    <a class="btn btn-danger" role="button"> {% trans "Página" %} 1 {% trans "de" %} 1</a>
{% endif %}
