{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/portador.png' %}">
{% endblock %}
 {% block title %} {% trans "Editar Portador" %} {% endblock %} 

{% block content %}
<br><br>
<div class="card">
    <div class="card-header">
        {% trans "Editar Portador" %}
    </div>
    <div class="card-body">
        <h4 class="card-title">{% trans "Datos del Portador" %}</h4>
        {% include 'formPortador.html'%}
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}