{% load i18n %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in form %}
    <div class="mb-3">
      {% if campo.name != "usuario" %}
      <label class="form-label">{{ campo.label|title }}:</label>
      {% endif %}
        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <br>
        <img src="{{campo.value.url}}" width="100">
        <br><br>
        {% endif %}
      <input type="{{ campo.field.widget.input_type }}"
        class="form-control" 
        name="{{ campo.name }}"  
        placeholder="{{ campo.label|title }}"
        value="{{campo.value | default:''}}"
        >
    </div>
    <div class="col-12 help-text">
        {{campo.errors}}
    </div>
    {% endfor %}
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    <input class="btn btn-success" type="submit" value="{% trans 'Guardar' %}">
    <a class="btn btn-primary" href="{%url 'portadores'%}" role="button">{% trans "Volver" %}</a>
</form>