{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block favicon %}
<link rel="icon" type="image/x-icon" href="{% static 'icons/portadores.png' %}">
{% endblock %}
 {% block title %} {% trans "Portadores" %} {% endblock %} 
{% block content %} 
<br/><br/>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="card">
  <div class="card-header">
    <h1 style="text-align: center">{% trans "PORTADORES" %}</h1>
    <div class="d-flex justify-content-between flex-wrap">
      <a class="btn btn-success d-inline-block mb-2 mb-md-0" href="{% url 'crear_armamento' %}" role="button">
          {% trans "Agregar nuevo armamento" %}
      </a>
  
      <div class="mb-2 mb-md-0">
          <form method="GET" action="">
              {{ form.campos_filtrados.label_tag }}
              {{ form.campos_filtrados }}
              {{ form.query }}
              <button type="submit" class="btn btn-outline-secondary">
                  <i class="fa fa-search"></i>
              </button>
              <a class="btn btn-danger" href="{% url 'portadores' %}" role="button">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
              </a>
          </form>
      </div>
  </div>
  
  </div>
  <div class="card-body table-responsive">
    <table class="table table table-striped table-bordered">
      <thead>
        <tr class="text-center">
          <th scope="col">CUIP</th>
          <th scope="col">{% trans "IMAGEN" %}</th>
          <th scope="col">{% trans "NOMBRE" %}</th>
          <th scope="col">{% trans "APELLIDOS" %}</th>
          <th scope="col">{% trans "TELEFONO" %}</th>
          <th scope="col">{% trans "CORREO" %}</th>
          <th scope="col">{% trans "ACCIONES" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for portador in lista%}
        <tr class="text-center align-middle">
          <td>{{ portador.CUIP }}</td>
          <td>
            <img src="{{ portador.IMAGEN.url }}" height="100" />
          </td>
          <td>{{ portador.NOMBRE }}</td>
          <td>
            {{ portador.APELLIDO_PATERNO }} {{ portador.APELLIDO_MATERNO }}
          </td>
          <td>{{ portador.TELEFONO }}</td>
          <td>{{ portador.CORREO }}</td>
          <td>
              <a name="" id="" class="btn btn-warning" href="{% url 'editar_portador' portador.CUIP %}" role="button">{% trans "Editar" %}</a>

              <button id="boton-borrar" data-url="{% url 'eliminar_portador' portador.CUIP %}" class="btn btn-danger">{% trans "Eliminar" %}</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
<div class="pagination">
  {% include 'paginador.html' %}
</div>
<script src="{% static 'js/confirmar_eliminacion.js' %}"></script>
{% endblock %}
